 .infoButton {
     position: absolute;
     top: 10px;
     right: 10px;
     background-color: transparent;
     border: none;
     cursor: pointer;
     font-size: 24px;
 }

 .ShareButton {
     position: absolute;
     top: 10px;
     left: 10px;
     background-color: transparent;
     border: none;
     cursor: pointer;
     font-size: 24px;
 }

 /* The Modal (background) */
 .mymodal {
     display: none;
     /* Hidden by default */
     position: fixed;
     /* Stay in place */
     z-index: 1;
     /* Sit on top */
     padding-top: 50px;
     /* Location of the box */
     left: 0;
     top: 0;
     width: 100%;
     /* Full width */
     height: 100%;
     /* Full height */
     overflow: auto;
     /* Enable scroll if needed */
     background-color: rgb(0, 0, 0);
     /* Fallback color */
     background-color: rgba(0, 0, 0, 0.4);
     /* Black w/ opacity */
 }

 /* Modal Content */
 .mymodal-content {
     position: relative;
     background-color: #fefefe;
     margin: auto;
     padding: 0;
     border: 1px solid #888;
     width: 80%;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     -webkit-animation-name: animatetop;
     -webkit-animation-duration: 0.4s;
     animation-name: animatetop;
     animation-duration: 0.4s
 }

 /* Add Animation */
 @-webkit-keyframes animatetop {
     from {
         top: -300px;
         opacity: 0
     }

     to {
         top: 0;
         opacity: 1
     }
 }

 @keyframes animatetop {
     from {
         top: -300px;
         opacity: 0
     }

     to {
         top: 0;
         opacity: 1
     }
 }

 /* The Close Button */
 .close {
     color: white;
     float: right;
     font-size: 28px;
     font-weight: bold;
 }

 .close:hover,
 .close:focus {
     color: #000;
     text-decoration: none;
     cursor: pointer;
 }

 .mymodal-header {
     padding: 2px 16px;
     background-color: #009bff;
     color: white;
 }

 .mymodal-body {
     padding: 2px 16px;
 }

 .mymodal-footer {
     padding: 2px 16px;
     background-color: #009bff;
     color: white;
 }

 input:not(:checked)+label[class*="btn-outline-primary"]:hover.mobile-device {
     color: #0d6efd;
     background-color: white;
     border-color:#0d6efd;
 }

 input:not(:checked)+label[class*="btn-outline-success"]:hover.mobile-device {
     color: #198754;
     background-color: white;
     border-color:#198754;
 }

 input:not(:checked)+label[class*="btn-outline-danger"]:hover.mobile-device {
     color: #dc3545;
     background-color: white;
     border-color:#dc3545;
 }

 input:not(:checked)+label:hover {
    color: white;
    background-color: #6c757d;
    border-color:#6c757d;
}

 #flowStpRst {
     color: white;
 }